* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  clear: both;
  zoom: 1;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
}

ol,
ul,
li {
  list-style: none;
}

/* navbar */
.navbar .navContainer {
  max-width: 1024px;
  height: 56px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navContainer .navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navContainer .navRight i {
  background-color: white;
  font-size: 14px;
  padding: 12px;
}

.navbar .navContainer .navRight .navSearch {
  display: flex;
  align-items: center;
}

.navbar .navContainer .navRight .navSearch input {
  display: none;
  width: 350px;
  background-color: #f2f5f7;
  color: #3e5463;
  vertical-align: super;
  line-height: 24px;
  font-size: 14px;
  border-radius: 6px;
  padding: 6px;
}

@media only screen and (min-width: 600px) {
  .navbar .navContainer .navRight .navSearch input {
    display: block;
  }
}

/* slide */
.sliderContainer {
  background-color: #f2f5f7;
  border-bottom: 1px solid #ddd;
}

.sliderBox {
  max-width: 1024px;
  margin: 0 auto;
}

.sliderBox a {
  padding: 20px 40px;
}

.sliderBox img {
  width: 100%;
  border-radius: 20px;
}

/* calender */
.calenderContainer {
  position: sticky;
  top: 0;
  background-color: white;
}

.calenderWrap {
  max-width: 1200px;
  display: flex;
  padding: 20px;
  margin: 0 auto;
}

.swiper .dateWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 13px 0;
  cursor: pointer;
}

.swiper .dateWrap > p {
  font-size: 18px;
  line-height: 14px;
  padding: 8px 0px;
  font-weight: 400;
}

.swiper .dateWrap > span {
  padding-bottom: 8px;
  font-size: 11px;
}

.swiper-button-next,
.swiper-button-prev {
  display: block;
  cursor: pointer;
  color: #3540a5;
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  border: 0;
  outline: 0;
  padding: 20px 5px;
  background-color: white;
}

.active-calendar {
  background-color: #1570ff;
  color: white;
}

.dateWrap p {
  font-size: 18px;
  line-height: 14px;
  font-weight: 400;
}

.dateWrap span {
  font-size: 11px;
}

@media only screen and (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

/* login, join, match */
.contentContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentInner {
  width: 720px;
  padding: 20px;
  height: 100%;
}

.contentInner .inner {
  height: 80%;
  max-width: 480px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.headMessage {
  margin-bottom: 30px;
  margin-top: 20px;
}

.headMessage h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;
}

.headMessage .hlt {
  color: #1739aa;
  font-weight: 700;
}

.contentInner .inner > span {
  font-size: 13px;
  color: #54644b;
  text-align: center;
}

.checkbox {
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 22px;
  height: 22px;
  background: #e6ecf1;
  border-radius: 6px;
  border: 1px solid #d9e0e6;
}

.contentInner .inner label span {
  font-size: 13px;
  color: #4b5a64;
  text-align: center;
  margin-bottom: 10px;
}

.contentInner h5 {
  margin-bottom: 10px;
}

.contentInner .date {
  text-align: center;
  font-weight: bold;
}

.contentInner input {
  border: 1px solid #d9e0e6;
  background-color: #f2f5f7;
  margin-bottom: 30px;
  height: 48px;
  line-height: 48px;
  border-radius: 16px;
  padding: 5px 15px;
  box-sizing: border-box;
}

.input {
  border: 1px solid #d9e0e6;
  background-color: #f2f5f7;
  margin-bottom: 10px;
  height: 48px;
  line-height: 48px;
  border-radius: 16px;
  padding: 5px 15px;
  box-sizing: border-box;
}

.contentInner button {
  border: none;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
  font-size: 16px;
  color: #ccc;
  background-color: #1739aa;
  padding: 15px;
  margin-bottom: 10px;
}

.contentInner .level {
  display: flex;
  padding: 8px 12px;
  margin-bottom: 10px;
}

.contentInner .levelCheck {
  font-size: 16px;
  font-weight: bold;
}

.contentInner .level button {
  margin-left: 10px;
  padding: 8px 12px;
  border: 0;
  outline: 0;
  font-size: 12px;
  background-color: #f2f5f7;
  border-radius: 20px;
  font-weight: bold;
}

.contentInner .level .button-active {
  background-color: #1739aa;
}

.inner .joinBtn,
.kakaoBtn {
  cursor: pointer;
}

.loginOrJoinKakao {
  max-width: 480px;
  margin: 0 auto;
  background-color: #fee500;
  border-radius: 10px;
  padding: 15px 0px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.loginOrJoinKakao img {
  vertical-align: middle;
}

.matchBtn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  background-color: #38f19b;
  color: white;
}

/* matchList */
.matchListContainer {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.matchList {
  max-width: 1024px;
  margin: 0 auto;
}

.itemContainer {
  list-style: none;
}

.itemContainer a {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 15px;
}

.itemContainer h3 {
  font-size: 14px;
  font-weight: 400;
}

.itemContainer span {
  font-size: 11px;
  color: #999;
  margin-top: 3px;
}

.itemTime {
  width: 15%;
  font-weight: 700;
  text-align: center;
  font-size: 15px;
}

.itemInfo {
  width: 62%;
  padding-right: 10px;
}

.itemStatus {
  width: 20%;
}

.matchStatus {
  width: 100%;
  text-align: center;
  padding: 8px 5px;
  border-radius: 6px;
  font-size: 12px;
}

.matchStatus.isFull {
  color: #ccc;
  background-color: #eeeeee;
}

.matchStatus.myMatch {
  border: 4px solid yellow;
  color: green;
  font-weight: bold;
}

.matchStatus.isHurry {
  color: white;
  background-color: #1570ff;
}

.yes {
  cursor: pointer;
}

/* detail */
.detailWrap {
  margin: 0 auto;
  background-color: #f2f5f7;
}

.detailHeader {
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.mapWrap {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}
.mapWrap > #kakaoMap {
  max-width: 1024px;
  height: 448px;
  background-color: #eee;
}

.bodyRight {
  min-width: 380px;
  height: fit-content;
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
  z-index: 3;
  padding: 30px 20px;
  background-color: white;
}

.bodyLeft {
  width: 100%;
  padding: 30px 20px;
  background-color: white;
}

.section {
  padding: 30px 20px;
  margin: 0px;
}

.matchPoint {
  padding-bottom: 20px;
}

.matchRule ul li {
  width: 48%;
  display: inline-block;
}

.matchRule ul .infoList {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.matchRule ul li .icon {
  display: inline-block;
  padding-right: 0px;
}

.matchRule ul li div {
  display: inline-block;
  padding-left: 10px;
}

.matchTime {
  font-weight: 700;
  margin-bottom: 10px;
}

.matchTime p {
  font-size: 18px;
}

.matchPlace {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
}

.matchPlace a {
  outline: none;
  color: #222836;
  text-decoration: none;
  cursor: pointer;
  color: #222836;
  font-size: 20px;
  font-weight: 400;
  word-break: keep-all;
}

.matchAddress {
  display: block;
}

.matchAddress p {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.matchAddress .address {
  cursor: pointer;
  text-decoration: underline;
}

.sectionBtnWrap {
  position: initial;
  max-width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px;
}

.sectionBtnWrap .applyBtn {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  border-top: 1px solid #c4cdd4;
}

.sectionBtnWrap .applyBtn button {
  margin: 0;
  border-radius: 10px;
  padding: 12px;
  background-color: #1739aa;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  border: 0;
  outline: 0;
  cursor: pointer;
}

@media (min-width: 950px) {
  .detailBody {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
  }

  .bodyRight {
    width: 60%;
    margin-left: 10px;
  }
}

/* Footer */
.footer {
  background-color: #2a2a2a;
}

.footerWrap {
  max-width: 1024px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 50px 30px 100px 30px;
}

.footerNav {
  color: white;
  margin-bottom: 20px;
  overflow: auto;
}

.footerNav h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.footerNav ul li {
  padding: 2px 0;
}

.footerNav ul {
  margin-bottom: 30px;
  width: 50%;
  float: left;
}

.footerNav ul li p {
  color: white;
  font-size: 13px;
  color: #999;
}

.footerWrap .company {
  text-align: left;
}

.footerWrap .company h2 {
  margin-bottom: 10px;
}

.footerWrap .company h2 a {
  font-size: 16px;
  color: white;
  font-style: italic;
  border-bottom: 2px solid #ffc645;
}

.footerWrap .company p {
  font-size: 12px;
  color: #999;
  margin-bottom: 20px;
}

.footerWrap .company .copyright {
  font-size: 12px;
}

.footerWrap .company span {
  padding: 2px 0;
  display: block;
  font-size: 11px;
  color: #999;
}

@media only screen and (min-width: 1024px) {
  .footerWrap {
    padding: 50px 30px 100px 30px;
  }

  .footerWrap .footerNav {
    width: 50%;
  }

  .footerNav ul {
    width: 25%;
  }

  .footerWrap .company {
    margin-left: 50px;
    text-align: left;
    width: 40%;
  }

  .footerWrap .company h2 a {
    font-size: 20px;
  }
}

.loadingORlogin {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loadingORlogin img {
  width: 100px;
  height: 100px;
}

.loadingORlogin span {
  font-weight: bold;
}
