* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  zoom: 1;
  height: 100%;
}

/* navbar */
.navbar .navContainer {
  max-width: 1024px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar .navContainer .navLogo {
  margin: auto 0;
}

.navbar .navContainer .navRight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.navbar .navContainer .navRight .navSearch {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-radius: 6px;
  background-color: #f7f7f7;
}

@media (min-width: 600px) {
  .navSearch {
    width: 450px !important;
    margin: 0;
    display: inline-block;
  }
}

.navbar .navContainer .navRight .navSearch button {
  background-color: #f7f7f7;
  border-radius: 6px;
}

.navbar .navContainer .navRight .navSearch input {
  width: calc(100% - 60px);
  background-color: #f7f7f7;
  border: 0;
  outline: 0;
}

.navbar .navContainer .navRight button {
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 8px;
}

.navbar .navContainer .navRight img {
  width: 24px;
  height: 24px;
}
